@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.root {
    font-family: 'Cairo', sans-serif;
    color:rgb(71, 71, 71);
    border: 2px solid rgb(184, 184, 184);
    padding: 1em;
    margin: 0.5em;
}

.descr {
    font-size: 2em;
}