version: '3.7'
services:
  db:
    image: mysql:5.7
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    environment:
      - MYSQL_ROOT_PASSWORD=123456789
      - MYSQL_DATABASE=diary-app-db
      - MYSQL_USER=diary-app-user
      - MYSQL_PASSWORD=123456789
    ports:
      - '3306:3306'

  backend:
    image: node:13
    working_dir: /var/app/backend
    ports:
      - 3000:3000
      - 9229:9229
    depends_on:
      - db
    command: bash -c 'while !</dev/tcp/db/3306; do sleep 1; done; npm start'
    volumes:
      - ./packages/backend:/var/app/backend
      - node_modules:/var/app/backend/node_modules

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin
    restart: always
    ports:
      - 8080:80
    environment:
      - PMA_ARBITRARY=1

  frontend:
    image: node:13
    working_dir: /var/app/frontend
    ports:
      - 3002:3002
    depends_on: 
      - backend
    command: npm start
    stdin_open: true
    volumes:
      - ./packages/frontend:/var/app/frontend


volumes:
  node_modules:
